body{
    font-family: "Roboto", sans-serif;
        font-style: normal;
        text-decoration: none;
        color: #434455;
        background: #FFFFFF;
        line-height: 1.5;
        padding: 0;
        margin: 0;
}

.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
.logo:hover, .logo:focus{
    color: #2E2F42;
}
.logo-web{
    color: #2E2F42;
}

.section-one{
    background: #2E2F42;
    padding: 188px 0;
}
.section-two{
    padding: 120px 0;
}
.section-three{
    background: #F4F4FD;
}
.footer{
    background: #2E2F42;
    color: #F4F4FD;
    width: 1440px;
    height: 312px;
    padding-left: 156px;
    padding-top: 100px;
}
.title-one{
    color: #FFFFFF;
    text-align: center;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    max-width: 496px;
}
.title-two{
    text-align: center;
    line-height: 1.1111;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 72px;
}
.title-info{
    visibility: hidden;
}
.title-three{
    color: #2e2f42;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 8px; 
}
.logo-footer{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.17;
        letter-spacing: 0.03em;
}
.logo-web-footer{
    color: #F4F4FD;
}
.logo-footer:hover, .logo-footer:focus{
    color: #F4F4FD;
}
.navig{
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    color: #2e2f42;
    
}
.navig:hover, .navig:focus{
    color: #404bbf;
}
.contact{
    text-decoration: none;
    font-size: 16px;
    color: #434455;
}
.btn{
    background: #4D5AE5;
    letter-spacing: 0.04em;
    color :#FFFFFF;
    font-size: 16px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
}
.btn:hover, .btn:focus{
    background-color: #404BBF;
}
.ul-good{
    list-style-type: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}
.ul-good:hover,
.ul-good:focus{
    color: #404bbf;
}

address{
    font-style: normal;
}

.address{
    font-style: normal;
    list-style-type: none;
    letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus {
    color: #404bbf;
}
.ul-section-two{
    list-style-type: none;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px;
}
.ul-good-section-three{
    list-style-type: none;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
}
.ul-good-section-four{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 156px;
    
}
.text{
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.text-footer{
    font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color:#F4F4FD;
}
.container-header{
   display: flex;
   padding: 24px 0; 
justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-header{
    display: flex;
    align-items: center;
    gap: 40px;

}
.container-one{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}
.container-two{
    display: block;
    align-content: center;
}
.container-three{
    width: 1440px;
    height: 732px;
    display: block;
    align-content: center;
}
.ul-team{
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-left: 156px;
}
.section-four{
    max-width: 1440;
    padding: 0;
    margin: 0;
}
.ccontainer-four{
    width: 1128px;
    height: 1000px;
    display: block;
}
.li-portfolio{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
     border-right: 1px solid #e7e9fc;
}
.container-footer{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 264px;
    height: 112px;
}
.header{
    border-bottom: 1px solid #e7e9fc;   
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.li-info{
    width: calc((100% - 72px)/ 4);
}